@media screen and (min-width: 200px) {
  .contactParent {
    overflow: hidden;
  }

  .contactIcon {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    padding-top: 3em;
    a {
      display: block;
      text-align: center;
      text-decoration: none;
      width: 120px;
      margin: auto;
      padding: 1rem 4rem;
      font-weight: bold;
      background-image: linear-gradient(
        to top,
        #d8d9db 0%,
        #fff 80%,
        #fdfdfd 100%
      );
      border-radius: 100vh;
      color: #333;
      border: 1px solid #999;
      text-shadow: 0 1px #fff;
      box-shadow: 0 3px 2px 1px #fcfcfc, 0 4px 6px #cecfd1, 0 -2px 2px #cecfd1,
        0 -4px 2px #eee, inset 0 0 2px 2px #cecfd1;
      transition: 0.5s;
    }
    :hover {
      opacity: 0.5;
    }

    i {
      padding-right: 0.5em;
    }
  }
}

@media screen and (min-width: 600px) {
    .contactIcon {
        flex-direction: row;
    }
}